.tom{

  width: 400px;
  border: 4px solid black;
border-radius: 5px; 
margin-left: 120px;
box-shadow: 10px 10px 5px #888888;
margin-right: 50px;


}
.rotem:hover,
.rotem:focus,
.rotem:active {
  background: white;
  color: white;
  transition: all 0.5s ease-in;
  background: #DC143C;
  opacity: 0.7;

  text-decoration: none;
}


.rotem{
height: 400px;
  width: 400px;
    border: 4px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888; 
}
  .zoof{
height: 400px;
  width: 400px;
    border: 4px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

.zoof:hover,
.zoof:focus,
.zoof:active{
  color: black;
background-color: black; 
  transition: all 0.5s ease-in;
  background: black;
  opacity: 0.6;
  box-shadow: 0px 0px 0px #888888;

}