html,
 body {
   /** height: 100%;
       background: url('/shut.png') no-repeat;
       background-size: 100% 70%;
    background-position: 100% 100%; */ 
    background-color: white; 

}



.main{
        font-family: Comic Sans MS , cursive, sans-serif;
        text-decoration:  ;
  -webkit-text-decoration-color: #ff4d88;
  text-decoration-color: #7FDBFF; 
      display: inline-block;
;
  padding-top: 12px;
border-width: 7px;
margin-bottom: 50px;\
color: #000000;
border-bottom: 6px solid #DC143C;
    border-radius: 20%;
    }
.header{

  border-bottom: 6px solid #DC143C;
  width: 300x;
  height: 100px;
}    
.tsub{
  border-bottom: 6px solid #DC143C;
  height:150px;


}


  

.tom{

  width: 400px;
  border: 4px solid black;
border-radius: 5px; 
margin-left: 120px;
box-shadow: 10px 10px 5px #888888;
margin-right: 50px;



}
.tom:hover,
.tom:focus,
.tom:active{
  color: gray;
   color: white;
  transition: all 0.5s ease-in;
  background: #DC143C;
  opacity: 0.6;
    box-shadow: 0px 0px 0px #888888;




}


.rotem{
height: 400px;
  width: 400px;
    border: 4px solid black;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
}

.rotem:hover,
.rotem:focus,
.rotem:active{
  color: black;
background-color: black; 
  transition: all 0.5s ease-in;
  background: black;
  opacity: 0.6;
  box-shadow: 0px 0px 0px #888888;

}

.zoof:hover,
.zoof:focus,
.zoof:active{
  color: black;
background-color: black; 
  transition: all 0.5s ease-in;
  background: black;
  opacity: 0.6;
  box-shadow: 0px 0px 0px #888888;

}
  


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;

 



}

.footer {
    height: 60px;
    background-color: #F0F8FF
;
    border-top: 1px solid #ddd;

}

.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-top: ;

}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


    

.semi-transparent-button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 250px;
  background: green; /* fallback color for old browsers */
  background: #F5FFFA;
  border-radius: 6px;
  color: black;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
border-color: black;
border: 4px solid #DC143C;
font-family: Comic Sans MS , cursive, sans-serif;
text-decoration: none;
}
.semi-transparent-button:hover,
.semi-transparent-button:focus,
.semi-transparent-button:active {
  background: white;
  color: white;
  transition: all 0.5s ease-in;
  background: #DC143C;
  opacity: 0.7;

  text-decoration: none;
}

iframe{
border: 1px solid black;
border-radius: 6px;
margin-right: 50px;
position: absolute;

}


@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  /*min-height: 100%;*/
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #pink;
  font-family: Comic Sans MS , cursive, sans-serif;
}
html h1, body h1 {
  /*margin-top: -5rem;*/
  text-align: center;
  color: #41403E;
  font-size: 3rem;
}
html section, body section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100%;
  margin-bottom: 3rem;
}
html section button, body section button {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: #DC143C;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /*
  Above is shorthand for:
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  */
}
html section button:hover, body section button:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
   transition: all 0.8s ease-in;
  background: #DC143C;
}
  -webkit-transition: width 4s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: width 4s;
    transition-timing-function: linear;

}
html section button.lined.thick, body section button.lined.thick {
  border: solid 7px #DC143C;
}


@media (max-width: 620px) {
  body h1 {
    margin-top: 2rem;
  }
  body section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
  }
  body section button {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-bottom: 2rem;
  }
}
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;



}

ul.img-list li {
  display: inline-block;
  height: 200px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 200px;
     margin-left:80px; 
     border-radius: 50%;
      /*border: 4px solid black;*/

/*box-shadow: 8px 8px 5px #888888;*/
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
         border-radius: 25%;


  width: 200px;
}

span.text-content span  {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;

}

ul.img-list li:hover span.text-content {
  opacity: 6;
  border-radius: 25%;
      /*border: solid 7px black;*/


}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.img-circle {
    border-radius: 25%;

}
.ul1,li{
  list-style:none;
}
.ul1{
  overflow:hidden;
  padding:3em;
}
.ul1 li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}
.ul1 li{
  margin:1em;
  float:left;
}
.ul1 li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
.ul1 li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}
.ul1 li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
.ul1 li a{
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.ul1 li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
.ul1 li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
.ul1 li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.ul1 li a:hover,.ul1 li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
.ul1 .li1 a{
  text-decoration:none;
  color:#000;
  background:#F0F8FF;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.ul1 .li2 a{
  text-decoration:none;
  color:#000;
  background:#F5F5DC;

;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.ul1 .li3 a{
  text-decoration:none;
  color:#000;
  background:#FFE4E1
;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.ul1 li1:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:green;
}
.ul1 li2:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:green;
}
img{
clear: both;
}
